<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title || "Sinatra prac" %></title>
	<script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body>
	<p>This is a practice sinatra app for learning routing, using 
		data base, and creating routes there, connecting to erb templates </p>
	<section id="yield">
		<%= yield %>
	</section>

</body>

</html>