


	<label for="name">Enter name of song: </label>
	<input id="name" type="text" name="song[title]" />
	<label for="lyrics">Enter lyrics: </label>
	<textarea id="lyrics" name="song[lyrics]" ></textarea>
	<label for="length">Enter length: </label>
	<input id="length" name="song[length]"  />
	<input type="submit" value="submit" onclick="do();"/>
</form>








